{% extends 'base.html' %}
{% block title %}Kategoriya qo‘shish{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card p-4">
        <h3 class="mb-4">Yangi kategoriya qo‘shish</h3>
        <form method="post">{% csrf_token %}
          {{ form.as_p }}
          <div class="d-flex justify-content-end gap-2 mt-3">
            <button type="submit" class="btn btn-primary">Saqlash</button>
            <a href="{% url 'inv_category_list' %}" class="btn btn-secondary">Bekor</a>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
