{% extends 'base.html' %}
{% block title %}Tasdiqlash{% endblock %}

{% block content %}
  <div class="d-flex justify-content-center align-items-center" style="min-height: 70vh;">
    <div class="bg-white p-5 rounded-4 shadow" style="max-width:380px;width:100%;">
      <h3 class="mb-3 text-danger text-center">O‘chirishni tasdiqlang</h3>
      <p class="mb-4 text-center">
        <b>{{ object }}</b> ma’lumoti o‘chiriladi.<br>Ushbu amalni tasdiqlaysizmi?
      </p>
      <form method="post" class="d-flex justify-content-center gap-3">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger px-4">Ha, o‘chirish</button>
        <a href="javascript:history.back()" class="btn btn-secondary px-4">Bekor qilish</a>
      </form>
    </div>
  </div>
{% endblock %}