{% extends 'base.html' %}
{% block title %}Mijozlar{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="h3 mb-0">Mijozlar</h2>
    <a href="{% url 'customer_create' %}" class="btn btn-primary">
        + Yangi
    </a>
</div>
<div class="table-responsive">
    <table class="table table-erp align-middle mb-0">
        <thead>
            <tr>
                <th>Ismi</th>
                <th>Familya</th>
                <th>Telefon</th>
                <th>Manzil</th>
                <th class="text-end"></th>
            </tr>
        </thead>
        <tbody>
            {% for customer in object_list %}
            <tr>
                <td>{{ customer.first_name }}</td>
                <td>{{ customer.last_name }}</td>
                <td>{{ customer.phone }}</td>
                <td>{{ customer.address }}</td>
                <td class="text-end">
                    <a href="{% url 'customer_update' customer.pk %}" class="btn btn-sm btn-outline-secondary">
                        ✏️
                    </a>
                    <a href="{% url 'customer_delete' customer.pk %}" class="btn btn-sm btn-outline-danger">
                        🗑️
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="text-center">Mijozlar yo‘q</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}